/.DS_Store
/A001_SD001
/A001_SD001_toy
/A002_SD013
log20629.txt
log20630.txt
/A003_SD005
/A004_SD012
/A005_SD002
/A006_SD006
/A007_SD017
log21312.txt
/.Rhistory
/data/merged_output_deployment.csv
/data/birdnet_output.csv
eclipse_map_red.jpg
zoomed_audiomoths.png
zoomed_audiomoths.jpeg
